div(class="modal-body")
				form
					fieldset
						label 标题
						input(type="text",name="title",placeholder="请输入标题")
						label 作者
						input(type="text",name="author",placeholder="请输入作者")
						label 日期
						div(class="input-append date form_datetime")
							input(size="16",type="text",value="" readonly)
							span(class="add-on")
								i(class="icon-th")
						label 内容
						textarea(rows="3")