
.layoutAuto{width:960px; margin:0px auto;}
.index_header{position:fixed; top:0px; left:0px;height:88px;border-bottom:1px solid #e3e3e3; background-color:#ffffff; width:100%; z-index:2;-webkit-box-shadow:0px 1px 2px #ececec;-moz-box-shadow:0px 1px 2px #ececec;box-shadow:0px 1px 2px #ececec;}
.menu li{margin-left:72px;}
.menu li a{font-size:14px; color:#848484; display:block;border-bottom:3px solid #FFF;text-align:center; min-width:62px; height:60px;padding-bottom:15px; margin-top:10px; line-height:90px; overflow:hidden;}
.menu li.case_m{margin-left:279px;}
.menu li.index_m{margin-left:0px;}
.menu li.current a,.menu li a:hover{border-bottom-color:#00A3E4; color:#00A3E4;}
.logo{background:url(/images/newMain/logo.png)  center center no-repeat; overflow:hidden; width:88px; height:88px; position:absolute;left:50%; top:15px; margin-left:-44px; text-indent:-9999px;}
.logo a{display:block; width:88px; height:88px; margin:0px;}

.bottomContainer{background-color:#faf7f7;}
.banner_contact{background:url(/images/newMain/contact.jpg) center center no-repeat; height:328px; background-size:1903px 328px; }
.banner_map{background:url(/images/newMain/map.jpg) center top no-repeat; height:420px;}
.bottom_message{background-color:#434343; padding:60px 0px;}
.messageForm{width:630px; margin-left:100px; color:#666;}
.contact_us{width:230px;}
.contact_us dt{color:#00A3E4; font-size:34px;}
.contact_us dd{color:#bbbbbb; font-size:15px; line-height:26px; padding-top:30px;}
.messageForm{border-top:1px solid #252525;border-bottom:1px solid #252525; padding:30px 0px; margin-top:40px;}
.message_field label{padding-bottom:5px; display:block; color:#bbbbbb;}
.message_field div{background-color:#282828; height:32px; padding:5px;}
.message_field input,.message_field textarea{border:1px solid #282828; margin:0px; padding:0px; margin-top:5px; color:#FFF; background-color:#282828; font-size:14px;}
.message_field textarea{width:618px; height:94px; margin:0px;}
.message_field_textarea div{height:96px;}
.message_submit{border:none; width:180px; height:42px; line-height:42px; text-align:center; font-size:16px; background-color:#00A3E4; color:#FFF;}
.message_tip{line-height:42px; color:#00A3E4; display:none;}

.banner_new{background:url(/images/newMain/SERVICE.jpg) center top no-repeat; background-size:1903px 328px; height:328px;}
.topBtn{background:url(/images/newMain/top.gif) 0px 0px no-repeat; width:66px; height:66px; position:fixed; right:10px; bottom:10px; z-index:2; display:none;}
.bottom_copyRight{height:48px; background-color:#faf7f7; line-height:48px; font-size:14px; color:#00A3E4;}
.bottom_copyRight a{padding:0px 10px; font-size:14px; color:#00A3E4;}
.bottom_copyRight span{color:#929292;}