fieldset.main-body(class="ui-grid-b",data-ajax="false")
	div(class="mobile-main-div")
		a(href="#",onclick="location='catering';")
			img(class="mobile-main-div-img",src="/images/mobile/Catering.png",width="80px;",height="100px;",title="餐饮美食")
	div(class="mobile-main-div")
		a(href="#",onclick="location='house';")
			img(class="mobile-main-div-img",src="/images/mobile/House.png",width="80px;",height="100px;",title="房屋租售")
	div(class="mobile-main-div")
		a(href="#",onclick="location='entertainment';")
			img(class="mobile-main-div-img",src="/images/mobile/Entertainment.png",width="80px;",height="100px;",title="休闲娱乐")
	//hr(color="#cccccc" size="1" style="width:88%")
	div(class="mobile-main-div")
		a(href="#",onclick="location='economics';")
			img(class="mobile-main-div-img",src="/images/mobile/Economics.png",width="80px;",height="100px;",title="家政服务")
	div(class="mobile-main-div")
		a(href="#",onclick="location='healthy';")
			img(class="mobile-main-div-img",src="/images/mobile/Healthy.png",width="80px;",height="100px;",title="医疗健康")
	div(class="mobile-main-div")
		a(href="#",onclick="location='more';")
			img(class="mobile-main-div-img",src="/images/mobile/public.png",width="80px;",height="100px;",title="更多")
