div(data-role='footer' style="background-color:#e7e5e5; !important")#footernav
      div(data-role='navbar')
        div(style="height:1px;background-color:#e7e5e5;")
        ul
          li
            a(class=(section == 'home' ? 'ui-btn-fontcolor' : null),class="fonter",data-ajax="false" onclick="location='home'" style="background-image: url(/images/fonter/wuye.png); background-size:25px; color:#4e4e4e;") 商家服务
