doctype html
html
	head
		meta(charset='utf-8')
		title 云城·Home
		meta(name="viewport",content="width=device-width,initial-scale=1",charset="UTF-8")
		//script(src='http://libs.useso.com/js/jquery/1.11.1/jquery.min.js')
		link(rel='stylesheet', href="/styles/idangerous.swiper.css")
		link(rel='stylesheet', href="/styles/mobile.helper.css")
		link(rel='stylesheet', href="/styles/jquery.mobile.theme.min.css")
		link(rel='stylesheet', href="/styles/jquery.mobile.icons.min.css")
		link(rel='stylesheet', href="/styles/jquery.mobile.structure-1.4.5.min.css")
		link(rel='stylesheet', href="/styles/font.css")
		link(rel='stylesheet', href="/styles/round.css")
		script(src="/js/jquery-1.11.1.min.js")
		script(src="/js/jquery.session.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.mobile-1.4.5.min.js")
		script(src="/js/idangerous.swiper.min.js")
		script(src="/js/rolling.js")
		script(src="/js/mobile-helper.js")
		script(src="/js/helper.js")
		script(src="/js/jquery.mobile.subpage.js")
		style.
			.swiper-container, .swiper-slide {
				//height: 175px;
				//max-height: 600:px;
			}
			.my-pagination {
				position: absolute;
				z-index: 20;
				left: 10px;
				bottom: 10px;
			}
			.badge{
				height:20px; 
				line-height:20px;  
				color:#FFF; text-align:center;
				background-color: #f00;
				color: #fff;
				display: inline-block;
				min-width:20px;  
				background-color:#F00;
				vertical-align: baseline;
				white-space: nowrap;
				position: absolute;
				border-radius:25px;
				left: 80%;
				top: 5%;
				font-weight: 100;
				z-index: 1;
				font-size:12px;
				margin-top:1px;
				margin-left:1px;
			}
	body
	
		
		block content