div#slider.swiper-container.gallery-top(class="slider-div") 
	div(class="slider-div-div")
			//form(action="",method="post") 提交优惠券表单
			input(name="title",id="title",type="text",placeholder="输入优惠券",class="slider-div-div-input")
			button(class="slider-div-div-button",onClick="javascript:alert('功能正在开发中,您可以继续使用其他功能。')") 验证优惠券
	div.my-pagination