fieldset.main-body(class="ui-grid-b",data-ajax="false" style="z-index:2;")
	div(class="mobile-main-div")
		a(href='#',onclick="location='business?_id=#{data.posts._id}'")
			img(class="mobile-main-div-img",src="/images/mobile/yijian.png",width="80px;",height="100px;",title="门店列表")
	.fakeloader#load