extends newImport
block content
		header.index_header
			nav.layoutAuto
				h1.logo(style='')
					a(href='#', title='前海云城') 深圳前海云城信息技术有限公司
				ul#nav.menu
					li.fl.index_m.current
						a(href='#index', title='首页') 首页
					li.fl
						a(href='#about', title='关于') 关于我们
					li.fl
						a(href='#serve', title='服务') 解决方案
					li.fl.case_m
						a(href='#case', title='产品') 产品内容
					li.fl
						a(href='#new', title='动态') 技术支持
					li.fl
						a(href='#contact', title='联系') 联系我们
			ul#nav.menu
				li.fl.f2()
					a(href='/management/home' ) 登录
		section#index.banner_index
		section#about.index_about
			.layoutAuto.clearfix
				dl.index_character.fl
					dt 关于 前海云城
					dd
						| 绿色 低碳 高效 便捷
						br
						|												从传统到创新 从线下到线上
						br
						|												我们一起走向移动互联网时代

				p.index_character_desc.fr
					| 我们是一家专注于移动互联网营销的服务商，梦想着改变人们的生活习惯和消费方式。
					br
					| 成立于2014年10月底，致力于打造链接科技与生活之间的桥梁，建设及发展移动互联网时代的智慧生活小区。
					br
					| 为广大用户提供更加高效、便捷、本地以及实用的生活信息服务。
		div(style="height:80px;background-color:#faf7f7")
		section#serve
			.banner_serve
			.layoutAuto.clearfix
				dl.index_character.fl
					dt
					dd
						| 前海云城
						br
						|												小区物业服务管理平台


				p.index_character_desc.fr
					| 以住宅小区为单位，微信公众号为媒介，创造新的社区生活方式。
					br
					| 物业管理+周边商户+小区住户=小区物业服务管理平台
					br

			.layoutAuto.clearfix
				section.index_serve.clearfix
					article.index_serve_item
						.index_serve_title
							strong
							h3 服务项目
					article.index_serve_item
						dl
							dt
								em.property
								|													物业管理
							dd 为物业管理处量身定做的管理平台，可轻松发布小区公告通知，接收住户投诉建议、失物招领以及故障报修等信息。在降低运营成本的同时也充分提高了物业服务水平和工作效率。

					article.index_serve_item
						dl
							dt
								em.serve
								|													物业服务
							dd 住户可以在微信端查看最新通知公告，进行故障报修的申请，提交投诉建议以及发布失物招领。信息化物业服务全新体验，为生活带来便利。

					article.index_serve_item
						dl
							dt
								em.around
								|													生活周边
							dd 为小区住户提供小区周边商家信息，将生活服务本地化，提供便捷的上门服务及优惠活动，让业主坐在家中就可以享受周到全面的生活服务，也给小区周边商家带来全新的盈利模式。
					article.index_serve_item
						dl
							dt
								em.pattern
								|													平台模式
							dd 以平台模式链接住宅小区物业、周边商家及住户，提高服务质量、增加收益、便利生活，三方各取所需。

					article.index_serve_item
						dl
							dt
								em.marketing
								|													营销策划
							dd 移动互联网营销理念，高效的宣传手段，精准的潜在客户群体定位，让产品推广更具针对性，效果更好。

		section#case.index_case
			.banner_new
			section.layoutAuto.clearfix
				dl.index_character.fl
					dt 前海云城
					dd
						| 绿色 低碳 高效 便捷

						|												从传统到创新 从线下到线上
						br
						|												我们一起走向移动互联网时代

				p.index_character_desc.fr
					| 我们是一家专注于移动互联网营销的服务商，梦想着改变人们的生活习惯和消费方式。
					br
					| 成立于2014年10月底，致力于打造链接科技与生活之间的桥梁，建设及发展移动互联网时代的智慧生活小区。
					br
					| 为广大用户提供更加高效、便捷、本地以及实用的生活信息服务。
			section.layoutAuto.clearfix.index_caseList.pt40
				.fl
					article.case_item_306_180
							img(src='/images/newMain/06.jpg',width="306px;" height="180px;")
							header
					article.case_item_306_380
							img(src='/images/newMain/02.jpg',width="306px;" height="380px;")
							header
				.fr.pl20
					article.case_item_415_380.fl
							img(src='/images/newMain/04.jpg',width="415px;" height="380px;")
							header
					article.case_item_199_180.fl
							img(src='/images/newMain/08.jpg', alt='扫一扫' width="199px;" height="180px;")
							header
					article.case_item_199_180.fl
							img(src='/images/newMain/code.jpg', alt='扫一扫' width="199px;" height="180px;")
							header
								span &nbsp&nbsp&nbsp扫一扫

					article.case_item_200_180.fl
							img(src='/images/newMain/07.jpg', alt='扫一扫' width="199px;" height="180px;")
							header
					article.case_item_414_180.fl

						a.big-link.demo6(href='javascript:;')
							img(src='/images/newMain/05.jpg',width="414px;" height="180px;")
							header

		section#new.index_newContainer
			.banner_Support
			section.layoutAuto.clearfix
				dl.index_character.fl
					dt(style="font-family:微软雅黑 !important") 常见问题
					dd
					dl(class="foldpanel",id="my-foldpanel")
							dt 1.如何使用投诉或建议？
								dd 打开微信进入前海云城微信公众号后，点击物业信息模块，然后点击投诉建议，里面有一个下拉框，您可以选择填写信息是投诉或者是建议，接下来继续填写您需要的投诉或建议即可。
							dt 2.如何使用失物招领？
								dd 打开微信进入前海云城微信公众号后，点击物业信息模块，然后点击失物招领，失物招领分为两栏，一栏为显示失物信息，一栏为发布失物信息。如果您需要发布您丢失的物品信息或您拾到的物品信息，请点击右上角‘发布’，在里面填写物品信息即可。
							dt 3.如何使用故障报修？
								dd 打开微信进入前海云城微信公众号后，点击物业信息模块，然后点击故障报修，在里面填写您所发现的在物业管理范围内的故障信息即可。
			section.layoutAuto.clearfix
				dl.index_character.fl
					dt 更新记录
					dd
					dl(class="foldpanel",id="my-foldpanel")
							dt 更新日志 新产品 云城·Office
								dd 2015年8月2日，
									a(href='http://office.szqhyc.com', title='前海云城' class="foldpanel") 云城·Office Beta 0.9版上线。
							dt 更新日志 V1.1.2
								dd 2015年6月13日， 云城·Home 正式版 1.0上线。
							dt 更新日志 V1.1.1 Beta
								dd 2015年2月20日，前海云城小区物业服务管理平台，正式上线。
					br
					br
					br
					br
					br
			section#contact
				.bottomContainer
					.banner_contact

					div#allmap.map
					.bottom_message
						section.layoutAuto.clearfix
							.fl
								dl.contact_us
									dt 联系方式
									dd
										p
											br
											| 地址：中国 深圳 福田区
											br
											| &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 大中华国际金融中心
											br
											| &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp C座606A室
											br
											br
											| 电话： 0755-23764385
										p.mt40
											div(style='float:left;margin-top:80px;')
												| 微信：
											div(style='float:left;margin:0px;')
												img(src='/images/newMain/qhyc.png', alt='前海云城',original='/Public/images/newMain/qhyc.jpg',width="100px;" height="100px;")
							form#msg.fl.messageForm(method='post', action='qhyc/contactus_add.js')
								.clearfix.pb20
									.fl.message_field
										label 姓名
										div
											input#title(type='text', value='', name='title')
									.fl.ml30.message_field
										label Email
										div
											input#email(type='text', value='', name='email')
								.clearfix.pb20.message_field.message_field_textarea
									label 告诉我们您大概的需求，以便我们进行具体的分析
									div
										textarea#content(name='content')
								.clearfix
									input(type='hidden', value='0', name='type')
									input#submit.fr.message_submit(type='submit', value='提交')
									span#error.fr.message_tip.mr20
							script(type='text/javascript').
								var map = new BMap.Map("allmap");
								var point = new BMap.Point(114.074974,22.544347);
								map.centerAndZoom(point,20);
								var myGeo = new BMap.Geocoder();
								myGeo.getPoint("大中华国际金融中心", function(point){
									if (point) {
										map.centerAndZoom(point, 20);
										map.addOverlay(new BMap.Marker(point));
									}else {
										alert("您选择地址没有解析到结果!");
									}
								},"深圳市");
							script(type='text/javascript').
								$(function(){
									$('#msg').submit(function(){
										$this=$(this),
										$title=$('#title'),
										$email=$('#email'),
										$content=$('#content'),
										$tip=$('#error'),
										$btn=$('#submit'),
										url=$this.attr('action'),
										title=$title.val(),
										email=$email.val(),
										msgContent=$content.val();
										if($btn.attr('data_submited')==1){
											return false;
										}
										if(title==''){
											$tip.html('姓名不能为空').show();
											$title.focus();
											return false;
										}else if(email==''){
											$tip.html('请填写邮箱，以便我们及时联系你').show();
											$email.focus();
											return false;
										}else{
											var regx=new RegExp("^\\\w+((-\\w+)|(\\.\\w+))*\\@[A-Za-z0-9]+((\\.|-)[A-Za-z0-9]+)*\\.[A-Za-z0-9]+$");
											if(regx.test(email)){
												$tip.html('');
											}else{
												$tip.html('邮箱格式不正确').show();
												return false;
											}
										}
										if(msgContent==''){
											$tip.html('把你的需求大概告诉我们').show();
											$content.focus();
											return false;
										}
										$btn.attr('data_submited',1).val('正在提交');
										$.post(url,$this.serialize(),function(data) {
											if(data.status!=1){
												$tip.html(data.info).show();
											}
											$title.val('');
											$email.val('');
											$content.val('');
											$btn.attr('data_submited',0).val('提交');
										});
										return false;
									});
									$(window).scroll(function(){
										var scrollTopPx=$(window).scrollTop(),
										bodyHeight=$('body').height();
										if(scrollTopPx>bodyHeight/2){
											$('#goTopBtn').show();
										}else{
											$('#goTopBtn').hide();
										}
									});
									$('body').delegate('#goTopBtn','click',function(){
										$('html,body').animate({scrollTop:0},800,function(){
											$('#goTopBtn').hide();
										});
									});
								});
				article.bottom_copyRight
					.layoutAuto
						| 深圳前海云城信息技术有限公司
						a(target='_blank', href='http://www.miibeian.gov.cn') 粤ICP备15006671号
				#HBox
					form(action='', method='post', onsubmit='return false;')
						ul.list
							li
								strong
									| 物业名称 
									font(color='#ff0000') *
								.fl
									input.ipt.title(type='text', name='title', value='')
							li
								strong
									| 手 机 
									font(color='#ff0000') *
								.fl
									input.ipt.phone(type='text', name='phone', value='')
							li
								strong
									| 邮 箱 
									font(color='#ff0000') *
								.fl
									input.ipt.email(type='text', name='email', value='')
							li
								strong
									| 小区数量 
									font(color='#ff0000') *
								.fl
									input.ipt.email(type='text', name='email', value='')
								//-
									li
										strong
											| 性 别 
											font(color='#ff0000')  
										.fl
											label.mr10
												input(type='radio', name='sex', value='1')
												| 男
											label.mr10
												input(type='radio', name='sex', value='2')
												| 女
											label
												input(type='radio', name='sex', value='3')
												| 保密

									li
										strong
											| 爱 好 
											font(color='#ff0000')  
										.fl
											label.mr10
												input(type='checkbox', name='like', value='男')
												| 男
											label.mr10
												input(type='checkbox', name='like', value='女')
												| 女
											label
												input(type='checkbox', name='like', value='都喜欢')
												| 都喜欢
							li
								input.submitBtn(type='submit', value='确认提交')
				a#goTopBtn.topBtn(href='javascript:void(0);')
				script(type='text/javascript', src='/js/newMain/jquery.scrollTo-1.4.2-min.js')
				script(type='text/javascript', src='/js/newMain/jquery.nav.js')
				script(type='text/javascript', src='/js/newMain/index.js')
				script.
					$(function(){
						var $el = $('.dialog');
						$el.hDialog();
						//遮罩不可关闭
						$('.demo6').hDialog({modalHide: false});
						//改变弹框背景色
						//返回顶部
						$.goTop();
						//提交并验证表单
						$('.submitBtn').click(function() {
							var EmailReg = /^[0-9a-zA-Z]+(?:[\.\!\#\$\%\^\&\*\'\+\-\/\`\_\{\|\}\~]{0,1}[a-zA-Z0-9]+)*@[a-zA-Z0-9\-]+\.[0-9a-zA-Z\-]+$/; //邮件正则
							var PhoneReg = /^0{0,1}(13[0-9]|15[0-9]|153|156|18[7-9])[0-9]{8}$/ ; //手机正则
							var $title = $('.title');
							var $email = $('.email');
							var $phone = $('.phone');
							if($title.val() == ''){
								$.tooltip('昵称还没填呢...'); $title.focus();
							}else if($phone.val() == ''){
								$.tooltip('手机还没填呢...'); $phone.focus();
							}else if(!PhoneReg.test($phone.val())){
								$.tooltip('手机格式错咯...'); $phone.focus();
							}else if($email.val() == ''){
								$.tooltip('邮箱还没填呢...'); $email.focus();
							}else if(!EmailReg.test($email.val())){
								$.tooltip('邮箱格式错咯...'); $email.focus();
							}else{
								$.tooltip('提交成功，您的加盟信息正在提交中...',5000,true);
								setTimeout(function(){
									//$el.hDialog('close',{box:'#HBox'},'http://smwell.sinaapp.com/');		//也可以加跳转链接哦~
									$el.hDialog('close',{box:'#HBox'});
								},2000);
							}
						});
					});
