extends content-layout

block content
	div(data-role="page")#main
		div(data-role="header")
				include services-header.jade
				h1.
					商家入驻
			div(role="main",class="ui-content")
				商家免费入驻，快拨打我们的免费招商热线
				a(href="tel:15820421477") 15820421477
				了解详情吧！
