extends content-layout

block content
	div(data-role="page")#complaints
		div(data-role="header")
			include services-header.jade
			h1.
				投诉建议
		div(role="main",class="ui-content")
			form(action="complaints_add",method="post",id="form1",enctype="multipart/form-data")
				label(for="text-basic") 意见标题
				input(name="title",id="title",type="text",placeholder="标题...")
				div#titlediv(style="color: red")

				label(for="select-native-s") 选择类别
				select(name="state",id="state")
					option 投诉
					option 建议
				label(for="text-basic") 业主姓名
				input(name="author",id="author",type="text",placeholder="姓名...")
				div#authordiv(style="color: red")

				label(for="number-pattern") 联系号码
				input(name="number",pattern="[0-9]*",id="number",type="number",placeholder="联系号码...")
				div#numberdiv(style="color: red")

				label(for="textarea-6") 上传图片
				img#image(src="" style="display:none;width:170px;height:200px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);")
				input(data-clear-btn='true' type="file",accept="image/*" name="images" id="images" onchange="previewImage(this)")

				label(for="textarea-6") 内容描述
				textarea(cols="40",rows="8",name="content",id="content",data-mini="true",placeholder="内容描述..."
				style="height: 100px !important")
				div#contentdiv(style="color: red")
				input(name="openid",id="openid",type="hidden" value="#{data.openid}" )
				//获取进入页面地址
				input(name="url" id="url",type="hidden")
				//时间隐藏
				input(name="publishedDate",id="publishedDate",type="hidden")
				a(href="#",onclick="on()",data-rel="popup",class="ui-shadow ui-btn ui-corner-all ui-mini",id="submit-6") 提交
				div(data-role="popup",id="popupBasic",class="ui-content",style="max-width:280px",data-dismissible="false")
					p 亲,您的意见正在发送中,物业将竭力为您解决。
					button(type="submit",id="submit-6",class="ui-shadow ui-btn ui-corner-all ui-mini",data-transition="pop",onclick="document.getElementById('form1').submit();") 确定
					