extends content-layout

block content
	div(data-role="page")#main
		div(data-role="header")
				include services-header.jade
				h1(style="font-family:'微软雅黑'").
					抽奖活动
			div(role="main",class="ui-content")
				h3(style="font-family:'微软雅黑'") 简单三步，完成抽奖！
				hr(color="#cccccc" size="1" )
				h5(style="color:#cccccc; font-family:'微软雅黑'") 2015-09-10 judy
				div(style="text-align:center;")
					img(src="/advert/draw/choujiang.jpg",style="height:1610px;width:100%;")
