extends content-layout

block content
	div(data-role="page")#main
		div(data-role="header")
				include services-header.jade
				h1.
					一键开锁
			div(role="main",class="ui-content")
				程序员GG正在加班赶货中,您可以使用云城·Home的其他功能。
