.index-serve-type
	.serve-type
		a(href='javascript:;' onclick="location='catering'")
			.type01
				p 餐饮美食
				p 求租 出售 求购 出租...
	.serve-type
		a(href='javascript:;' onclick="location='house'")
			.type02
				p 房屋租售
				p 家庭保洁 保姆 月嫂...
	.serve-type
		a(href='javascript:;' onclick="location='healthy'")
			.type03
				p 医疗健康
				p 求租 出售 求购 出租...
	.serve-type
		a(href='javascript:;' onclick="location='entertainment'")
			.type04
				p 休闲娱乐
				p 保健按摩 洗浴按摩...
	.serve-type
		a(href='javascript:;' onclick="location='economics'")
			.type05
				p 家政服务
				p 鹏爱美容医疗医院
	.serve-type
		a(href='javascript:;' onclick="location='more'")
			.type06
				p 更多
				p 家庭保洁 保姆 月嫂...
	