#banner.banner
	.addWrap
		#mySwipe.swipe
			#swipe-wrap.swipe-wrap
				div
					img(src='../../../images/images/banner1.jpg')
				div
					img(src='../../../images/images/banner2.jpg')
				div
					img(src='../../../images/images/banner3.jpg')
				div
					img(src='../../../images/images/banner4.jpg')
		ul#position
			li.cur
			li
			li
			li