.fonter{
	line-height:70px;
	background-repeat: no-repeat; 
	height:40px; 
	background-position:center 5px;
}

/******
    商品页面 & 商家页面
    切换样式
******/
#tsyj_cent{  width:100%; height:100%;margin:auto;}
#tsyj_cent .c{
    width:100%; 
    height:40px;
    
}
#tsyj_cent .ts{ 
    width:50%; 
    height:40px; 
    float:left; 
    background-color:#fff; 
    display:block; 
    text-align:center; 
    text-decoration:none; 
    font-size:1.6rem; 
    line-height:40px;
    -webkit-f ont-smoothing:antialiased;
}
.yj{
    color:#000; 
    width:80%;  
    border-bottom:2px 
    solid #fff; 
}
