.foldpanel {
	width: 600px;
	border: 0px solid #E6F1FA;
	border-bottom: none;
	font-family: Arial, Microsoft Yahei, sans-serif;
	font-size: 17px;

}
.foldpanel dt,.foldpanel dd {
	border-bottom: 1px solid #B6AFAF;
	margin: 0px;
}
.foldpanel dt {
	background: #ffffff;
	color:#1F1A17;
	cursor: pointer;
	padding: 8px 4px;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Microsoft Yahei, sans-serif;
}
.foldpanel dd {
	color: #adadad;
	padding: 12px 8px;
	font-size: 17px;
	font-weight:400; 
	padding-top:10px; 
	line-height:28px;
	
	font-family: Arial, Microsoft Yahei, sans-serif;
}