@CHARSET "UTF-8";
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}
body{font:16px/1.5 "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;color:#333;background:#e0e0e0;-webkit-text-size-adjust:none;min-width:320px;max-width:750px;margin:0 auto;}
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ul,ol{list-style:none}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
a{text-decoration:none;}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;font-family:"Microsoft YaHei";}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;background:none}
html,body{height:100%;background:#e0e0e0;font-family:"Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun;-webkit-font-smoothing:antialiased}
html{max-width:750px;margin:0 auto; font-size: 62.5%;}


/*********index.html**************/
.index{background: url("../../images/images/321.jpg") no-repeat; background-size:cover; position: absolute; width: 100%; height: 100%;top:0px; left:0px;}
.index2{background: #eef3fa; position: absolute; width: 100%; height: 100%;top:0px; left:0px;}
.index{background: url("../../images/images/321.jpg") no-repeat; background-size:cover; position: absolute; width: 100%; height: 100%;top:0px; left:0px;}
.addWrap{width:90%; margin:10px auto; position:relative;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative; border-radius:5px;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;position:relative;}
#position{ position: absolute;bottom: 0px; left:40%;left:50%;
-ms-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,0%);
-o-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,0%);
transform: translate(-50%,0%);}
#position li{width:18px;height:4px;margin:0 3px;display:inline-block;background-color:#492a69;}
#position li.cur{background-color:#d79bc1;}
.addWrap img{ width:100%; border-radius:5px;}
.index-icon{ height: 85px; background-color: #FFF;}
.index-icon a{ float: left; width: 25%; height: 85px; font-size: 1.2rem; text-align: center; display: block;color:#333;}
.index-icon a p.icon{ background: url("../../images/images/icon-1.png") no-repeat; width: 40px; height: 40px; background-size:100% 100%; margin: 0 auto; margin-top: 14px;}
.index-icon a p:nth-child(2){ padding-top: 5px;}
.index-icon a p.icon-2{ background: url("../../images/images/icon-2.png") no-repeat; width: 40px; height: 40px; background-size:100% 100%;}
.index-icon a p.icon-3{ background: url("../../images/images/icon-3.png") no-repeat; width: 40px; height: 40px; background-size:100% 100%;}
.index-icon a p.icon-4{ background: url("../../images/images/icon-4.png") no-repeat; width: 40px; height: 40px; background-size:100% 100%;}

.index-icon-2{ margin: 10px 5%;height: 65px; width: 90%; background-color: #FFF; line-height: 65px; border-radius:5px; opacity: 0.6;}
.index-icon-2 a{ width: 100%;float: left;display: block;color:#333;font-size: 1.4rem; }
.index-icon-2 a p{ float: left; width: 80%;text-align: left; }
.index-icon-2 a p.icon{width: 19%; background: url("../../images/images/icon-5-1.png") center no-repeat; height: 65px; background-size:40px 40px; padding-left: 1px; }
.index-icon-2 a p.icon-2{ width: 19%; background: url("../../images/images/icon-6-1.png") center no-repeat; height: 65px; background-size:40px 40px; margin: 0 auto;}
.index-icon-2 a p.icon-3{ width: 19%; background: url("../../images/images/icon-7-1.png") center no-repeat; height: 65px; background-size:40px 40px; margin: 0 auto;}
.index-icon-2 a p.icon-4{ width: 19%; background: url("../../images/images/icon-8-1.png") center no-repeat; height: 65px; background-size:40px 40px; margin: 0 auto;}

.index-icon-3{ margin: 10px auto;height: 85px; width: 100%; background-color: #FFF; line-height: 85px; border-radius:5px; opacity: 0.6;}
.index-icon-3 a{ width: 100%;float: left;display: block;color:#333;font-size: 1.4rem; }
.index-icon-3 a p{ float: left; width: 80%;text-align: left; }
.index-icon-3 a p.icon{width: 19%; background: url("../../images/images/icon-5-2.png") center no-repeat; height: 85px; background-size:40px 40px; padding-left: 1px; }
.index-icon-3 a p.icon-2{ width: 19%; background: url("../../images/images/icon-5-3.png") center no-repeat; height: 85px; background-size:40px 40px; margin: 0 auto;}

.index-placard{ height: 45px; line-height: 45px;font-size: 1.2rem; border-top:1px solid #ccc;background-color: #FFF;}
.index-placard span.placard-type{ background-color: #ec6b33; padding: 0 5px;border-radius:3px; color:#FFF; margin-right: 5px; }
.index-placard a{ display: block; width: 96%; margin: 0 auto; color:#333;}
.index-food{background-color: #FFF; margin-top: 10px;}
.index-food div.head{ height: 29px; line-height: 29px;}
.index-food div.head p.left{ float: left; height: 15px; width: 70px;margin-left: 10px;}
.index-food div.head p.left img{ width: 100%;}
.index-food div.head p.right{ float: right; font-size: 1.4rem;;margin-right: 10px; color:#666666}
.index-food div.con{ background-color: #FFF; overflow: hidden; height: 85px;}
.index-food div.con div{ float: left; width:33%; text-align: center; height: 70px; margin-top: 8px;}
.index-food div.con div:nth-child(1),.index-food div.con div:nth-child(2){border-right:1px solid #ccc;}
.index-food div.con div:nth-child(1) img{ width: 79px;}
.index-food div.con div:nth-child(2) img{ width: 83px;}
.index-food div.con div:nth-child(3) img{ width: 65px;}
.index-food div.con div p{ color:#ec6b33;}
.index-food div.con div p span{ text-decoration: line-through; color: #999999;font-size: 1.4rem;}
.index-top-box{position: fixed; width: 100%; max-width: 750px; top:0px;left:0px; background-color:rgba(0, 0, 0, 0);}
.index-top-box{position: absolute; width: 100%; max-width: 750px; top:0px;left:0px; background-color:rgba(0, 0, 0, 0);}
.index-serve-type{ background-color: #FFF; overflow: hidden; margin-top: 305px; font-size: 1.0rem; bottom:45px;width: 100%; max-width: 750px;}
.index-serve-type .serve-type{ width: 50%; float: left; height: 58px;}
.index-serve-type .serve-type a{ display: block; height: 100%; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
.index-serve-type .serve-type a div{ width: 95%; height: 100%;}
.index-serve-type .serve-type a p{color:#333333; padding-left: 10px; width:63%;}
.index-serve-type .serve-type a p:nth-child(1){ font-size: 1.4rem; padding-top: 10px;}
.index-serve-type .serve-type a div.type01{ background: url("../../images/images/icon-5.png") right no-repeat; background-size:40px 40px;}
.index-serve-type .serve-type a div.type02{ background: url("../../images/images/icon-6.png") right no-repeat; background-size:40px 40px;}
.index-serve-type .serve-type a div.type03{ background: url("../../images/images/icon-7.png") right no-repeat; background-size:40px 40px;}
.index-serve-type .serve-type a div.type04{ background: url("../../images/images/icon-8.png") right no-repeat; background-size:40px 40px;}
.index-serve-type .serve-type a div.type05{ background: url("../../images/images/icon-9.png") right no-repeat; background-size:40px 40px;}
.index-serve-type .serve-type a div.type06{ background: url("../../images/images/icon-10.png") right no-repeat; background-size:40px 40px;}
.index-serve-type .serve-type a div p:nth-child(2){overflow:hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}


/**********footer****/
.footer{ height: 44px; background-color: #fafafa; position: fixed;bottom:0px; width: 100%;border-top:1px solid #e04b3a; opacity: 0.6;}
.footer a{color:#333333; display: block; width: 50%; float: left;height: 44px;}
.footer a.l{ font-size: 18px; line-height: 44px;}
.footer a.l span{ padding-left: 20px;}
.footer a.r span{ display: block; background: url("../../images/images/footer-iocn.png") 13px 0px no-repeat; float: right; width: 46px; background-size:23px 22px;font-size: 12px; padding-top: 22px; margin-top: 3px; text-align: center;margin-right: 10px;}
	
	
	
	
	
	
	
/*******noticeList*****************/
.noticeList{ background-color: #FFF; font-size: 1.2rem; height: 85px; margin-top: 10px; position: relative;}
.noticeList a{color:#666666;}
.noticeList div.head{ width: 95%; margin: 0 auto; border-bottom:1px solid #ccc; height: 32px; line-height: 32px;}
.noticeList p{ width: 95%;margin: 0 auto; margin-top: 8px;overflow:hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.noticeList div.head span{ display: block; float: left;}
.noticeList div.head span:nth-child(1){color:#333;}
.noticeList div.head span:nth-child(2){ float: right;}
.noticeList div.noticeListCon{ position: absolute; top:0px; left:0px;height: 85px; z-index: 999; background-color: #FFF; width: 100%;}
.noticeList div.list-del{ position: absolute; top:0px;right:0px;height: 85px;background-color: #f7671c; color:#FFF; text-align: center; line-height: 85px; width: 60px;}

/******noticeCon*************/
.noticeCon{ font-size: 1.2rem; width: 90%; margin:0 auto; padding-top: 15px;}
.noticeCon p.tit{ text-indent: 2em;padding-top: 5px;}
.noticeCon p.notice-text{ text-indent: 2em; line-height: 25px; padding-top: 5px; padding-bottom: 15px;}
.noticeCon p.notice-property,.noticeCon p.notice-time{ text-align: right;}
/********communityEvents******/
.communityEvents .publish{ position: fixed;bottom:20px; width: 44px; height: 44px; left:50%; margin-left: -22px;}
.communityEvents .publish img{ width: 100%;}
.eventsList{ margin-top: 10px; overflow: hidden; background-color: #fafafa; font-size: 1.2rem; padding-bottom: 20px;}
.eventsList a{color:#333333;}
.eventsList div.left{ float: left; width: 52px;}
.eventsList div.left div.peoplePhoto{ width: 32px; height: 32px; margin: 0 auto; margin-top: 5px;}
.eventsList div.left div.peoplePhoto img{ width: 100%;border-radius:50%;}
.eventsList div.right{ float: left;width: 80%; padding-top: 5px;}

.eventsList div.right div.head{ height: 25px; line-height: 25px;}
.eventsList div.right div.head div.l{ float: left; font-size: 1.4rem;}
.eventsList div.right div.head div.r{ float: right;}
.eventsList div.right div.head div.r span{ padding:2px 5px;border-radius:5px;color:#FFF; margin-left: 5px;}
.eventsList div.right div.head div.r span.color1{background-color: #ec6b33;}
.eventsList div.right div.head div.r span.color2{background-color: #38a9be;}
.eventsList div.right div.head div.r span.color3{background-color: #b3b3b3;}
.eventsList div.right div.con div img{ max-height: 64px; margin-left: 2px;}
.eventsList div.right div.reply{border-top:1px solid #CCC; margin-top: 10px;}
.eventsList div.right div.reply .replyTop{ height: 40px; line-height: 40px; padding-left: 20px;}
.eventsList div.right div.reply .replyTop-fb{ height: 40px; line-height: 40px; background: url("../../images/images/reply-icon.png") 0 15px no-repeat; background-size:15px 14px; padding-left: 20px;}

.eventsList .more{ height: 35px; line-height: 35px; color:#1f9cec; text-align: center; background-color: #fafafa; clear: both; cursor: pointer;}
.replyList { background-color: #efefef}
.replyList div p span.name{color:#1f9cec;}
.replyList div p{ width:95%; margin: 0 auto; }
.replyList div p:nth-child(1){padding-top: 5px;}
.replyList div p:nth-last-child(1){padding-bottom: 5px;}
.replyInput{ position: fixed; bottom:0px; width:100%; height: 65px; background-color: #fafafa;}
.replyInput textarea{ height: 40px; width:90%; margin-top: 10px;resize: none; margin-left: 12px;border-radius:5px; background-color: #efefef; font-size: 1.2rem;padding-top: 5px; padding-left: 5px;}

/*******eventsCon*************/
.eventsCon .eventsList{ margin-top: 0px;}



/*****personal_center.html********/
.personal_center{ background-color: #dddddd;}
.personal_center header div.bg-img img{ width: 100%;}
.personal_center header { position: relative;}
.personal_center header .head-txt{ position: absolute; bottom:15px; left:15px;}
.personal_center header .head-txt p{ float: left;}
.personal_center header .head-txt p.left{ height: 52px; width:52px;}
.personal_center header .head-txt p.left img{ height: 52px; width:52px; border-radius:50px;}
.personal_center header .head-txt p.right{ color:#FFF; margin-left: 10px;}
.personal_center header .head-txt p.right .wx-name{ font-size: 1.4rem;}
.personal_center header .head-txt p.right .address{ font-size: 1.2rem;}

.personal_center .module1{ margin-top: 10px; background-color:#FFF;}

.personal_center .module1{ background-color: #FFF; margin-top: 10px; clear: both;}
.personal_center .module1 a{ color:#666; clear: both; display: block;height: 45px; border-bottom:1px solid #dddddd; position: relative;}
.personal_center .module1 a:nth-last-child(1){ border-bottom:none;}
.personal_center .module1 a p{ float: left; line-height: 45px;}
.personal_center .module1 a p.left{ margin-left: 10px;padding-left: 30px; font-size: 1.4rem;}
.personal_center .module1 a em{float: right; margin-right:10px;  line-height: 45px;}
.personal_center .module1 a p.right{ float: right; margin-right:10px; background: url("../../images/images/a-right.png") center no-repeat; width:6px; height:10px; background-size:100% 100%; margin-top: 17px;}
.personal_center .module1 a p.bg-1{background: url("../../images/images/center-icon-1.png") left no-repeat; background-size:25px 25px;} /*地址更换*/
.personal_center .module1 a p.bg-2{background: url("../../images/images/center-icon-2.png") left no-repeat; background-size:25px 25px;} /*验证手机*/
.personal_center .module1 a p.bg-3{background: url("../../images/images/center-icon-3.png") left no-repeat; background-size:25px 25px;} /*订单查询*/
.personal_center .module1 a p.bg-4{background: url("../../images/images/center-icon-4.png") left no-repeat; background-size:25px 25px;} /*余额查询*/
.personal_center .module1 a p.bg-5{background: url("../../images/images/center-icon-5.png") left no-repeat; background-size:25px 25px;} /*优惠券*/
.personal_center .module1 a p.bg-6{background: url("../../images/images/center-icon-6.png") left no-repeat; background-size:25px 25px;} /*意见反馈*/
.personal_center .module1 a p.bg-7{background: url("../../images/images/center-icon-7.png") left no-repeat; background-size:25px 25px;} /*关于我们*/
.personal_center .module1 a p.bg-8{background: url("../../images/images/center-icon-8.png") left no-repeat; background-size:25px 25px;} /*使用帮助*/
.personal_center .module1 a p.bg-9{background: url("../../images/images/center-icon-9.png") left no-repeat; background-size:25px 25px;} /*联系客户*/
.personal_center .module1 a div.date{ position: absolute; right:25px; line-height: 45px; font-size: 1.2rem;}


/*************myPhone*************/
.myPhone{ width: 90%; margin: 0 auto; padding-top: 20px;}
.myPhone p.text{ font-size: 1.4rem; text-align: center;}
.myPhone div.phone-input{ margin-top: 15px;}
.myPhone div.phone-input p{ position: relative;height: 40px; border:1px solid #ccc;  }
.myPhone div.phone-input p.p1{border-radius:5px 5px 0 0; border-bottom:none; }
.myPhone div.phone-input p.p2{border-radius:0 0 5px 5px;}
.myPhone div.phone-input p.p1 a{ position: absolute; display: block; width:100px; font-size: 1.2rem; right:10px; height: 25px; top:7.5px; color:#FFF; border-radius:50px; background-color: #20a0f7; text-align: center;line-height: 25px; }
.myPhone div.phone-input input{ height: 40px;border:none; border-radius:5px; font-size: 1.4rem; padding-left: 10px;}
.myPhone a.btn{ display: block; height: 44px; line-height: 44px; color:#FFF; border-radius:5px; background-color: #20a0f7; text-align: center; margin-top: 35px;}



/*****alertBox************/
.alertBox{color:#FFF;font-size:1.4rem; width:50%; line-height: 40px; background: url("../../images/images/hint.png") 15px no-repeat;  background-size:18px 18px; position: fixed; top:50%;left:50%;background-color: #666666; border-radius:50px; padding-left: 40px; padding-right: 40px;
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);}

/*******myFaultService****************/
.myFaultService div.reply{ height: 40px; text-align: right;}
.myFaultService div.reply .btn{padding-top: 10px;}
.myFaultService div.reply span{ padding: 3px 15px;border-radius:5px; margin-left: 10px;}
.myFaultService div.reply span.color1{ border:1px solid #1f9cec; color:#1f9cec;padding: 2px 15px;}
.myFaultService div.reply span.color2{ background-color:#1f9cec; color:#fff;}
.myFaultService div.reply span.color3{ background-color:#e04c3a; color:#fff;}
.myFaultService div.right div.con{ padding-bottom: 10px;}
.myFaultService div.right div.reply{margin-top: 0px;}


/**********myLostFound************/
.myLostFound .replyTop{ position: relative;}
.myLostFound .replyTop .del{ position: absolute; top:8px; right: 0px; background-color: #e04c3a; color:#FFF; width: 50px; height: 22px; text-align: center; line-height: 22px; font-size: 1.4rem; border-radius:5px;}


/***********mySuggestions**********/
.mySuggestions div.right div.reply .replyTop{background:none;}
.communityEvents div:nth-child(1){ margin-top: 0px;}


/**业务报修ywbx**/
#ywbx_cent{ width:100%; height:100%; margin:auto;}

#ywbx_cent .cent1{background-color:#FFFFFF; width:100%; height:200px; margin-bottom:10px; padding-top:5px;}
#ywbx_cent .cent1 textarea{ font-size: 1.4rem;resize: none;}
.cent2{height:125px; width:100%; background-color:#fff; margin:auto; position:relative}
#ywbx_cent .cent2 p.sssk{width:90%; display:block; margin:auto; color:#999999;font-size:1.2rem; height:30px; line-height:30px; }
#ywbx_cent .cent2 span.ssk{width:90%; display:block; height:32px; margin:auto; color:#000; color:#000;font-size:1.2rem; padding:0px; position:relative;top:10px;}
 .baoxiu { width:90%; height:100px; display:block; margin:auto; border:none; margin-top:10px;}
#ywbx_cent .cent1 ul.ywbx_mag{ margin:0px auto; padding:0px; list-style:none; width:90%; margin-top:10px; height:84px;}
#ywbx_cent .cent1 ul.ywbx_mag li { float:left; width:64px; height:64px; margin-right:10px; background:url(../../images/images/ywbx2.png) no-repeat center;}
#ywbx_cent .cent1 ul.ywbx_mag li .mags{width:64px; height:64px;}
#ywbx_cent .cent2 .ss{width:90%; height:25px; display:block; margin:auto; color:#999999; line-height:25px; color:#000;  position:relative;top:px;}
#ywbx_cent .cent2 .ss label{ color:#999999;text-align:right; line-height:20px;font-size:1.2rem;}
#ywbx_cent .cent2 .ss span{ color:#000;font-size:1.2rem}


/**投诉意见tsyj**/
 
#tsyj_cent{  width:100%; height:100%;margin:auto;}
#tsyj_cent .c{ width:100%; height:40px; margin-bottom:10px;}
#tsyj_cent .cent1{background-color:#FFFFFF; width:100%; height:200px; margin-bottom:10px; padding-top:5px;}

#tsyj_cent .cent2 span.ssk{width:90%; display:block; height:32px; margin:auto; color:#000; color:#000;font-size:1.2rem; padding:0px; position:relative;top:10px;}
#tsyj_cent .ts{ width:50%; height:40px; float:left; background-color:#fff; display:block; text-align:center; text-decoration:none; font-size:1.6rem; line-height:40px;-webkit-f ont-smoothing:antialiased;}
 
#tsyj_cent  .t1{height:40px; width:100%;}
.yj{color:#000; width:80%;  border-bottom:2px solid #fff; }
.s{ color:#1f9cec; border-bottom:2px solid #1f9cec;}

#tsyj_cent .cent1 ul.ywbx_mag{ margin:0px auto; padding:0px; list-style:none; width:90%; margin-top:10px; height:84px;  }
#tsyj_cent .cent1 ul.ywbx_mag li { float:left; width:64px; height:64px; margin-right:10px;}
#tsyj_cent .cent1 ul.ywbx_mag li .mags{width:64px; height:64px;}
#tsyj_cent .cent1 ul.ywbx_mag li:nth-last-child(1) { background:url(../../images/images/ywbx2.png) no-repeat center;}
#tsyj_cent .cent2 .ss{width:90%; height:25px; display:block; margin:auto; color:#999999; line-height:25px; color:#000;  position:relative;top:-10px;}
#tsyj_cent .cent2 .ss label{ color:#999999;text-align:right; line-height:40px;font-size:1.2rem;}
#tsyj_cent .cent2 .ss span{ color:#000;font-size:1.2rem;}
.but{width:90%; height:60px; margin:auto; background-color:#e0e0e0; margin-top:30px;}
.tj{ width:100%; height:45px; margin:auto; border:none; margin-top:10px; color:#FFFFFF; font-size:1.5rem; text-align:center; line-height:45px; background-color:#1f9cec; border-radius:6px }

#tsyj_cent .cent2 #right_tsyj{ width:100px; height:20px; position:absolute; right:0; top:10px; background: url("../../images/images/swith-icon.png") 55px no-repeat;  background-size:35px 17px; line-height: 20px; cursor: pointer;}
#tsyj_cent .cent2 #right_tsyj span{ float:left;   font-size:1.2rem;}
#tsyj_cent .cent2 #right_tsyj ul{ list-style:none; float: right; width:50px; height:40px; padding:0; margin:0px;}
#tsyj_cent .cent2 #right_tsyj ul li{ font-size:1.2rem; line-height:12px; width:35px; height:12px;  background-color:#0099CC; float:none; margin-bottom:5px; border:1px solid #0099CC; border-radius:6px ; position:relative; margin-top:3px; }
.ys{ font-size:1.2rem; color:#ccc; line-height:12px; width:12px; height:12px; margin:auto; position:absolute; left:10px;}
#tsyj_cent .cent2 #right_tsyj ul li.n{ width:35px; height:12px; background-color:#ccc; border:1px solid #ccc; border-radius:7px ; }

#tsyj_cent .cent2 #right_tsyj ul li span{width:10px; height:10px; font-size:1.2rem; background-color:#ffffff;  margin-left:23px; border:1px solid  #FFFFFF; border-radius:5px ;}
#tsyj_cent .cent2 #right_tsyj ul li.n span{width: 10px; height:10px; background-color:#ffffff;  margin-left:1px;  border-radius:5px ;}

#tsyj_cent .cent2 #right_tsyj.right_hover{ background: url("../../images/images/swith-icon2.png") 55px no-repeat;  background-size:35px 17px;}

#tsyj_cent.lostFound .ts{ width: 33.3333%}


/*******************myCommunity************/
.myCommunity .communityOptions{ height: 45px; position: relative; background-color: #FFF; line-height: 45px;color:#333333; margin-top: 10px; font-size: 1.4rem;}
.myCommunity .communityOptions span.left{ display: block; float: left; padding-left: 15px;}
.myCommunity .communityOptions span.right{ display: block; float: right; background: url("../../images/images/a-right.png") center no-repeat; width:6px; height:10px; background-size:100% 100%; margin-top: 18px; margin-right: 10px;}
.myCommunity .communityOptions p.selectValue{ position: absolute; right:25px;}
.myCommunity .communityOptions p.select{ width: 100%; height: 45px; position: absolute; top:0px; left:0px;}
.myCommunity .communityOptions p.select select{ width: 100%; height: 42px; border:none; opacity:0;}
.myCommunity .btn{ width: 90%; margin: 0 auto; text-align: center; line-height: 44px; height: 44px; color:#FFF; font-size: 1.6rem; background-color: #1f9cec; border-radius:5px; margin-top: 25px;cursor: pointer;}

.alertInput{ width: 90%; background-color: #fff;border-radius:5px; text-align: center; position: absolute; left:5%; top:35%;}
.alertInput p{ height: 45px; line-height: 45px; font-size: 1.4rem;}
.alertInput p.p-2 input{width:90%;height: 40px; line-height: 40px;border:1px solid #999; background-color: #f2f2f2; font-size: 1.4rem;border-radius:5px;}
.alertInput p.alertBtn{width:90%;height: 40px; line-height: 40px; background-color: #1f9cec; color:#FFF; cursor: pointer; text-align: center; margin: 0 auto; border-radius:5px; margin-top: 20px; margin-bottom: 15px; font-size: 1.6rem;}
.alertBg{ position: fixed; background-color: #000; opacity:0.5;width: 100%; height: 100%; top:0px; left: 0px;}

/**********serveList************/
.serveList{ background-color: #e0e0e0;}
.serveList .header{ background-color: #fafafa; position: fixed; top:0px; width: 100%; left:0px;}
.serveList .header .seach{width: 90%; margin: 0 auto; height: 40px;}
.serveList .header .seach input{ width: 95%; padding-left: 8%; border-radius:5px; border:1px solid #d6d6d6; height: 26px; margin-top: 6px; background:url("../../images/images/seach-icon.png") 5px no-repeat #fff; background-size:15px 15px; font-size: 1.2rem;}
.serveList .selectBox{ border-top:1px solid #d6d6d6; background-color: #fff; height: 40px;line-height: 40px;}
.serveList .selectBox div{ float: left; width: 25%; height: 40px; text-align: center; position: relative; font-size: 1.4rem;}
.serveList .selectBox div select{ width: 100%; opacity:0; height: 30px; position: absolute;top:5px;left:0px;}
.serveList .selectBox div span{background: url("../../images/images/select-icon.png") right no-repeat; background-size: 8px 5px; padding-right: 12px;}
.serveList .list { margin-top: 90px;}
.serveList .list .listBox{ background-color: #fff; margin-top: 10px; overflow: hidden; font-size: 1.2rem;}
.serveList .list .listBox a{color:#666666; display: block; overflow: hidden;}
.serveList .list .listBox div.l{ width: 25%; float: left;margin-top: 15px; text-align: center;}
.serveList .list .listBox div.l img{width: 60px; height: 60px;}
.serveList .list .listBox div.r{ float: left; width: 70%;}
.serveList .list .listBox div.r .top{height: 35px; line-height: 35px;}
.serveList .list .listBox div.r .top p{ float: left; font-size: 1.6rem;color:#333;}
.serveList .list .listBox div.r .top p:nth-child(2){ float: right; font-size: 1.2rem;}
.serveList .list .listBox div.r .con{ height: 40px;}
.serveList .list .listBox .bottom { height: 35px; line-height: 35px; width: 70%; margin-left: 25%;}
.serveList .list .listBox .bottom p{ float: left;}
.serveList .list .listBox .bottom p:nth-child(2){ float: right;}
.serveList .list .listBox .bottom p.adress{ background: url("../../images/images/adress-icon.png") left no-repeat; padding-left: 18px; background-size:12px 15px;}
.serveList .list .listBox .bottom p.data span.left{ background: url("../../images/images/yuyue-icon.png") left no-repeat; background-size:16px 14px; padding-left: 20px;}
.serveList .list .listBox .bottom p.data span.right{ background: url("../../images/images/zan-icon.png") left no-repeat; background-size:14px 13px; padding-left: 20px; margin-left: 20px;}
.loadText{ text-align: center; line-height: 40px; font-size: 1.2rem;}

/******serceCon*********/
.serceCon{ background-color: #e0e0e0;}
.serceCon .top{ background-color: #fff; width: 100%;overflow: hidden; height: 80px;}
.serceCon .top div{ float: left;}
.serceCon .top div.l{ width: 25%;margin-top: 10px; text-align: center;}
.serceCon .top div.l img{ width: 60px; height: 60px;}
.serceCon .top div.c{ font-size: 1.4rem; width: 57.5%;border-right:1px solid #ccc; margin-top: 10px; padding-right: 2%;}
.serceCon .top div.c p:nth-child(2){ font-size: 1.2rem;}
.serceCon .top div.c p:nth-child(2) span:nth-child(2){ margin-left: 25px;}
.serceCon .top div.r{ width: 14%; text-align: center; font-size: 1.2rem; margin-top: 20px;}
.serceCon .top div.r img{ width: 20px;}
.serceCon .con{ background-color: #fff; font-size: 1.4rem; margin-top: 10px;}
.serceCon .con .div-1 p{ float: left;}
.serceCon .con .div-1 p:nth-child(2){ background: url("../../images/images/v-icon.png")left no-repeat;  padding-left: 20px; background-size:15px 15px; font-size: 1.2rem; margin-left: 10px;color:#999999;}
.serceCon .con .div-1{ height: 40px; line-height: 40px; padding-left: 4%;}
.serceCon .con .div-2,.serceCon .con .div-3,.serceCon .con .div-4{ padding-left: 4%; height: 25px; line-height: 25px; font-size: 1.2rem;}
.serceCon .con .div-2 span.color,.serceCon .con .div-3 span.color{ color:#20a0f7;}
.serceCon .con div.telephone{ height: 50px; line-height: 50px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; margin-top: 5px; font-size: 1.2rem;}
.serceCon .con div.telephone p{ float: left;}
.serceCon .con div.telephone p:nth-child(1){ padding-left: 4%;}
.serceCon .con div.telephone p:nth-child(1) span{color:#20a0f7; padding-left: 10px;}
.serceCon .con div.telephone p.p2{ float: right;}
.serceCon .con div.telephone p.p2 img{ width: 25px; vertical-align: -8px;}
.serceCon .con div.telephone p.p2 span.btn{ background-color: #20a0f7;color:#fff; padding: 5px 10px; border-radius:5px; margin-left: 10px; margin-right: 10px;}
.serceCon .about{width: 92%; margin: 0 auto; margin-top: 15px; font-size: 1.2rem;}
.serceCon .about .img img{ height: 110px;}
.serceCon .about .img img:nth-child(2){ padding-left: 5px;}
.serceCon .about .text{ 
	padding-top: 10px;
}
.serceCon .about .text.allcon{
	height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.serceCon .about .lookmore{ text-align: center;color:#20a0f7; line-height: 25px;}
.serceCon .jishu{ height: 45px; line-height: 45px; background-color: #fff; border-top:1px solid #ccc; margin-top: 15px; padding-left: 4%;}












