extends content-layout

block content
	div(data-role="page")

		div(data-role="header")
			div(data-role="header")
				a(href="home",class="ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all",data-rel="back",data-ajax="false")
			h1.
				商铺信息填写
		div(role="main",class="ui-content")
			form(action="business_add",method="post",id="form1",enctype="multipart/form-data")
				label(for="text-basic") 商铺名称
				input(name="title",id="title",type="text",placeholder="标题...")
				div#titlediv(style="color: red")
				label(for="select-native-s") 入驻小区
				select(name="property",id="property")
					option 百灵阳光
					option 前海云城
				label(for="select-native-s") 选择类别
				select(name="storetype",id="storetype")
					option 医疗健康
					option 家政服务
				label(for="textarea-6") 店铺Logo
				img#image(src="" style="display:none;width:170px;height:200px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);")
				input(data-clear-btn='true' type="file",accept="image/*" name="images" id="images" onchange="previewImage(this)")
				label(for="text-basic") 联系人
				input(name="contact",id="contact",type="text",placeholder="姓名...")
				div#authordiv(style="color: red")
				label(for="number-pattern") 联系号码
				input(name="telephone",pattern="[0-9]*",id="telephone",type="number",placeholder="手机号码...")
				div#numberdiv(style="color: red")
				label(for="text-basic") 商家地址
				input(name="address",id="address",type="text",placeholder="详细地址...")
				div#authordiv(style="color: red")
				label(for="textarea-6") 商家详情
				textarea(cols="40",rows="8",name="detail",id="detail",data-mini="true",placeholder="该商家很懒,未添加详情。"
				style="height: 100px !important")
				div#contentdiv(style="color: red")
				input(id="businessUser",name="businessUser",type="hidden")
				input(name="url" id="url",type="hidden")
				input(name="publishedDate",id="publishedDate",type="hidden")
				a(href="#",onclick="on()",data-rel="popup",class="ui-shadow ui-btn ui-corner-all ui-mini",id="submit-6") 提交
				div(data-role="popup",id="popupBasic",class="ui-content",style="max-width:280px",data-dismissible="false")
						p 您的信息正在提交中。
						button(type="submit",id="submit-6",class="ui-shadow ui-btn ui-corner-all ui-mini",data-transition="pop",onclick="document.getElementById('form1').submit();") 确定
					